.container {
  height: 100vh;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 12px;
}
.logo {
  width: 60px;
  height: 60px;
}
.header {
  font-size: 20;
  font-weight: bold;
}

.input {
  padding: 1rem;
  border-radius: 12px;
  border: 1px lightgray solid;
  width: 15rem;
}
.votesContainer {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: 12px;
}
.votesContainer div {
  border-bottom: 1px rgb(231, 231, 231) solid;
  padding: 20px 0;
}
.votesContainer div b {
  color: rgb(85, 84, 84);
}

.statsHeader {
  display: flex;
  font-weight: bold;
  font-size: 20px;
  margin-top: 2rem;
}
